html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

input, button, select {
    font: inherit;
}

.card-jogo {
    width: 25rem;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 2rem;
}

.remove-btn {
    position: absolute;
    top: 3%;
    left: 83%;
    cursor: pointer;
}

.card-jogo img {
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid black;
}

.card-jogo h2{
    margin: 0;
    padding: 1.5rem 1.8rem 1.8rem 1.5rem;
    font-size: 2rem;
    font-weight: 500;
}

.card-details {
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-size: 1.5rem;
}