@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300;500;800&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    font-family: 'Onest', sans-serif;
}

input, button, select, a {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    padding: 1.5em 3em;
    font-size: 2rem;
}

main {
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}

.add-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2.5em;
}

h2 {
    font-size: 4rem;
}

.add-header span {
    font-size: 3rem;
}

.add-header a {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1em 2em;
    text-align: center;
    color: black;
    background-color: rgb(255, 162, 0);
    border-radius: 1em;
    overflow: hidden;
    transition: all .2s ease;
}

.add-header a:hover {
    background-color: rgb(255, 191, 81);
}

.card-jogo {
    position: relative;
    height: 30em;
    min-width: 20em;
    max-width: 25em;
    background-color: black;
    border-radius: 2rem;
    transition: all .5s ease;
    overflow: hidden;
}

.card-jogo:hover {
    transform: scale(1.05);
}

.card-jogo:hover>.card-details {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-jogo:hover>.card-options{
    display: flex;
    align-items: center;
    visibility: visible;
    z-index: 2;
}

.card-jogo:hover>.card-img::before{
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    backdrop-filter: brightness(0.2) blur(5px);
}

.card-img {
    position: relative;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img::before {
    content: "";
    transition: all .5s ease;
}

.card-details {
    position: absolute;
    top: 16%;
    left: 0;
    background: transparent;
    display: none;
    width: 100%;
    padding: 1em 0 1em 0;
    gap: .5em;
    font-size: 1.5rem;
    border-radius: 0 0 1em 1em;
    z-index: 2;
}

.card-details h2{
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 500;
}

.card-details h2:hover {
    text-decoration: underline;
}

.card-details div{
    padding: 0 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
}

.card-options {
    gap: 1.8em;
    position: absolute;
    bottom: 3%;
    left: 50%;
    display: none;
    visibility: hidden;
    transition: all .2s ease;
    transform: translateX(-50%);
}

.card-options img{
    scale: 66%;
}

.remove-btn {
    cursor: pointer;
}

#gameList {
    padding: 3em 2em;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(5em, 20em));
    gap: 5em;
}

@media only screen and (max-width: 768px) {
    .card-jogo {
        position: relative;
        height: 30em;
        max-width: 100%;
        background-color: black;
        border-radius: 2rem;
        transition: all .5s ease;
        overflow: hidden;
    }
    
    #gameList {
        padding: 3em 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5em;
    }
}

form {
    max-width: 650px;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    gap: 1em;
}

form label {
    float: left;
    width: 12em;
}

form input {
    width: 15em;
}

.input-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

input[type=text], input[type=url], input[type=date] {
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
}

#submit {
    width: 5em;
    padding: 0.5em 1em;
    border-radius: 1em;
    background-color: rgb(255, 162, 0);
    transition: all .3s ease;
}

#submit:hover {
    background-color: rgb(255, 191, 81);
}

.botãoVoltar:hover {
    text-decoration: underline;
}

.error-message {
    padding: 0.5em 0 0 1em;
    color: rgb(255, 113, 113);
}

.btn-wrapper {
    padding-top: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10em;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 10em;
    padding-bottom: 1.5em;
    width: 100%;
    text-align: center;
    font: inherit;
    font-size: 1.25rem;
}